---
import Button from "../ui/Button.astro";
import heroImg from "../../assets/hero-space-girl-wide.jpg";
import heroImgTall from "../../assets/hero-space-girl-tall.jpg";
---

<section
  class="hero-section relative py-24 lg:py-28 min-h-dvh -mt-20 flex items-start md:items-center justify-start bg-cover bg-center bg-fixed bg-cosmic-blue-light bg-var"
  style={`--bg-img: url(${heroImgTall.src}); --bg-img-md: url(${heroImg.src});`}
>
  <div class="max-w-2xl mx-6 text-warm-neutral md:text-text-primary text-shadow-sm md:text-shadow-none">
    <h1>Protect What Matters Most</h1>

    <p class="text-xl lg:text-2xl mb-8 leading-relaxed">
      Small Planet Law helps families design estate plans that honor their loved
      ones and their values — including care for the planet.
    </p>
    <Button href="/contact" size="lg" variant="secondary">
      Start Your Plan
    </Button>
  </div>
</section>
