---
import Button from "../ui/Button.astro";
import heroImg from "../../assets/hero-mtn-flowers.jpg";
import heroImgTall from "../../assets/hero-mtn-flowers.jpg";
---

<section
  class="hero-section show-header relative py-24 lg:py-28 min-h-dvh -mt-20 flex items-center justify-start bg-cover bg-center bg-fixed bg-var"
  style={`--bg-img: url(${heroImgTall.src}); --bg-img-md: url(${heroImg.src});`}
>
  <div
    class="w-7xl mx-auto sm:px-6 lg:px-8 flex text-text-primary text-shadow-sm md:text-shadow-none"
  >
    <div>
      <h1>Protect What Matters Most</h1>
      <p class="text-xl lg:text-2xl mb-8 leading-relaxed max-w-prose">
        Small Planet Law helps families design estate plans that honor their
        loved ones and their values, including care for the planet.
      </p>
      <Button href="./contact" size="xl" variant="primary" class="font-bold">
        Start Your Plan
      </Button>
    </div>
  </div>
</section>
